./cache
./backend/.env
./backend/.cursor
./backend/.venv
./backend/.pytest_cache
./backend/.mypy_cache
./backend/.ruff_cache
./backend/.DS_Store
./backend/.idea
./backend/.pytest_cache
./backend/.mypy_cache
./backend/.ruff_cache
./backend/.DS_Store
./backend/.idea
./backend/__pycache__
./Code_Gen_with_ui/
./node_modules
./OAI-CU/
./docling_p
node_modules
OAI-CU
docling_p
Code_Gen_with_ui
backend/*.env
backend/.cursor
backend/.venv

*.env