fastapi
uvicorn
pydantic
python-dotenv
requests
pdfplumber
numpy
networkx
faiss-cpu
langchain
langchain-core
langchain-openai
langchain-google-genai
langchain-huggingface
langchain-community
tree-sitter
tree-sitter-c
sentence-transformers
pypdf
python-docx
python-multipart
openai
torch
tqdm
scikit-learn
matplotlib
pandas
PyYAML
paramiko
pexpect
PyMySQL
pyserial
pyroute2